/*cuerpo  donde va el  formulario color amarrillo*/

.vuelos, .hoteles, .paquetes, .autos, .traslado, .autosbuses, .cruseros, .turn {
	position: absolute;
	background: #fff763;
	height: 96.6%;
	width: 80%;
	top: 0px;
	border-radius: 0px 10px 10px 0px;
	justify-content: center;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fill, 300px);
	margin-left: 100px;
}
/*Section donde va los opacity */

.vuelos {
	position: absolute;
	/*display: none;*/
}
.hoteles {
	position: absolute;
	display: none;
}
.paquetes {
	position: absolute;
	display: none;
}
.autos {
	position: absolute;
	display: none;
}
.traslado {
	position: absolute;
	display: none;
}
.autosbuses {
	position: absolute;
	display: none;
}
.cruseros {
	position: absolute;
	display: none;
}
.turn {
	position: absolute;
    display:none;
}
/*Section donde va los opacity termina */

/*section donde van los arreglos dentro de cada caja */

/*formulario de vuelo*/

.form {
	margin: 20px;
}
.form input {
	margin: 15px;
}
.form label {
	position: absolute;
	margin-top: -30px;
	padding: 23px;
	grid-template-columns: repeat(auto-fill, 300px);
}
/*formulario del hotel*/

.form_hote, .inpus {
	margin: 20px;
}
.buscar_hotel {
	width: 100%;
}
.form_hote select {
	position: relative;
	top: 30px;
}
.form_hote .label {
	position: relative;
	left: 50px;
}
/*formulario de paquetes*/

.paqu {
	position: relative;
	top: 30px;
}
.selection {
	position: relative;
	margin-top: 70px;
}
.select {
	position: relative;
	margin-top: 70px;
}
/*formulario de alquiles de auto*/

.almanaque {
	position: relative;
	margin-top: 30px;
}
.selectAuto {
	position: relative;
	top: -40px;
	margin: 30px;
}
/*furmulario de  tranlado*/

.formTras {
	position: relative;
	top: 20px;
}
.idaRegreso {
	margin: 20px;
}
.inptSelecHotel {
	position: relative;
	/*width: 70%;
	margin: 10px;
	left: 10px;*/
}
.traslados {
	position: relative;
	top: -20px;
	left: 10px;
	margin: 10px;
}
.select_botones {
	position: relative;
	right: 70px;
	top: 10px;
}
.tipoTraslado {
	position: relative;
	right: 90px;
	top: 10px;
	margin: 20px;
}
.tipoTraslados {
	position: relative;
	right: 100px;
	top: 10px;
}
/*section de autobuses */

.inputDeBus {
	position: relative;
	margin-top: 40px;
	right: 10px;
}
.destinoBus {
	position: relative;
	left: 40px;
	top: -30px;
}
/*section donde va el crusero*/

.inputDestinos {
	position: relative;
	right: 40px;
	top: 50px;
	/*margin: 20px;*/
}
.labelCrusero {
	position: relative;
	top: 20px;
}
.label_crusero {
	position: relative;
	top: 100px;
	margin-bottom: 70px;
}
.form_crusero {
	margin: 20px;
}
.labe_crusero {
	position: relative;
	top: 70px;
	left: 50px;
}
/*section del tur*/

/*section donde van los arreglos dentro de cada caja termina */