/*cuerpo  donde va el  formulario color amarrillo*/
.vuelos, .hoteles, .paquetes, .autos, .traslado, .autosbuses, .cruseros, .turn{
	position: absolute;
	background: #fff763;
	height: 56vh;
	width: 80%;
	top:0px;
	border-radius:   0px  10px 10px 0px ;
	justify-content: center;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fill, 300px);
	margin-left: 100px;



}



/*Section donde va los opacity */

.vuelos{
	position: absolute;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;

}

.hoteles{
	position: absolute;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;


}

.paquetes{
	position: absolute;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;


}

.autos{
	position: absolute;
	/*transition: all 0.3s;
	opacity: 0;
	visibility: hidden;*/


}
.traslado{
	position: absolute;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;


}
.autosbuses{
	position: absolute;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;


}

.cruseros{
	position: absolute;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;


}

.turn{
	position: absolute;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;


}


/*Section donde va los opacity termina */

/*section donde van los arreglos dentro de cada caja */


/*formulario de vuelo*/
.form{
	margin:20px;
}


.form input{
	margin:15px;
}

.form label{
	position: absolute;
	margin-top: -30px;
	padding: 23px;
    grid-template-columns: repeat(auto-fill, 300px);
} 


/*formulario del hotel*/


.form_hote, .inpus{
  margin: 20px;


}

.buscar_hotel{
	width: 100%;


}

.form_hote select{
	position: relative;
	top: 30px;


}

.form_hote .label{
	position: relative;
	/*background: red;*/
	left: 50px;


}

/*formulario de paquetes*/
.paqu{
	position: relative;
	top: 30px;
}

select{
	position: relative;
	margin-top: 70px;
	
}

.select{
position: relative;
	margin-top: -70px;

}

/*formulario de alquiles de auto*/
.almanaque{
	position: relative;
	margin-top: 30px;
}

.selectAuto{
	position: relative;
	top: -40px;
	margin: 30px;


}

/*section donde van los arreglos dentro de cada caja termina */